@font-face {
    font-family: "Shoulders";
    src: url(../fonts/Shoulders/static/BigShouldersDisplay-Regular.ttf);
}
@font-face {
    font-family: "Lexend";
    src: url(../fonts/Shoulders/static/Roboto-Regular.ttf);
}